@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* scss variabelen */

$ftrcolor: aqua;
$black: #111;
$showing: block;
$clrwhite: white;
$bgcolor: #333;

body {
  font-family: "Montserrat", sans-serif;

  header {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: $bgcolor;

    > a {
      margin: 10px;
      color: $clrwhite;
      text-decoration: none;

      h1 {
        font-size: 15px;
      }
    }

    nav {
      li {
        list-style-type: none;
        float: left;

        a {
          display: $showing;
          color: white;
          text-align: left;
          padding: 14px 16px;
          text-decoration: none;
        }

        a:hover {
          background-color: $black;
        }
      }
    }
  }

  section {
    text-align: center;
    padding: 10px;

    img {
      padding: 10px;
      border-radius: 20px;
    }
  }

  #para9 {
    background-color: rebeccapurple;
  }

  #para8 {
    background-color: peru;
  }

  #para7 {
    background-color: yellowgreen;
  }

  #para6 {
    background-color: aqua;
  }

  #para5 {
    background-color: red;
  }

  #para4 {
    background-color: aquamarine;
  }

  #para3 {
    background-color: green;
  }

  #para2 {
    background-color: olive;
  }

  footer {
    background-color: $ftrcolor;
    display: grid;
    padding: 45px;
    text-align: center;
  }
}
